html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html, body {
height: 100%;
width: 100%;
}

head {
    text-align: center;
    margin-top: auto;
}

body {
    text-align: center;
    font-family: Open Sans;
}

h4 {
    margin-bottom: 6px;
}

p {
  font: 400 16px/1.6 'Imprima', Verdana, Helvetica, sans-serif;
  color: #232525;
}

.intro {
    padding-top: 0px;
    font-size: 16px;
    display: inline;
    background-color: yellow;
}

.disclosure {
    margin-top: 60px;
    margin-left: 110px;
    /*width: 480px;*/
    margin-right: 110px;
    text-align: left;
    font-size: 11px;
}

.results-container {
    margin-top: 60px;
    margin-right: 60px;
    margin-left: 60px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    
}

.results, h2 {
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: #f90404
}